/vendor
/node_modules
.git
.gitignore
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.DS_Store
.idea
.vscode
.vercel
